# pandas

 * It's a python library that is used while you are working with the datasets
 * It has some function
    1. analyze
    2. Cleaning
    3. Explore
    4. Manipulation


[JamBoard](https://jamboard.google.com/d/1-cxIXQroyDja7lDC5QR8HZvoYffOKAldTP7jQcv4tBM/edit?usp=sharing)

# Why Pandas

* It allows us to analyze big data
* It is used to clean messy datasets and then make it readable and relevant

# importation of Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.0'

## pandas data structure

   1. series
   2. dataframe
   3. panel

## Series
It is a 1D array like DS

In [3]:
# pd.Series(data, index, dtype)

creating an empty series

In [4]:
s = pd.Series()

In [5]:
s

Series([], dtype: object)

create a series using numpy array

In [6]:
data = np.array([12, 45, 32, 89])
s = pd.Series(data)

In [7]:
s

0    12
1    45
2    32
3    89
dtype: int32

In [8]:
s = pd.Series(data, index=[101, 102, 103, 104])

In [9]:
s

101    12
102    45
103    32
104    89
dtype: int32

create a series using dictionary

In [10]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data)

In [11]:
s

a    1
b    2
c    3
dtype: int64

In [12]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data, index=['f', 'g', 'h'])

In [13]:
s

f   NaN
g   NaN
h   NaN
dtype: float64

create a series using the scalar value

In [14]:
data = 99
s = pd.Series(data, index=[101, 102, 103, 104])

In [15]:
s

101    99
102    99
103    99
104    99
dtype: int64

* Updation

1 accesing the data from pandas series

In [16]:
data = np.array([12, 45, 32, 89, 7, -10, 21, -0.5, -7, 30])
s = pd.Series(data)

In [17]:
s

0    12.0
1    45.0
2    32.0
3    89.0
4     7.0
5   -10.0
6    21.0
7    -0.5
8    -7.0
9    30.0
dtype: float64

In [18]:
s[4]

7.0

In [19]:
s[0:3]  # s[:3]

0    12.0
1    45.0
2    32.0
dtype: float64

In [20]:
s[7:]

7    -0.5
8    -7.0
9    30.0
dtype: float64

In [21]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data, index=['f', 'g', 'h', 'a', 'b', 'c'])

In [22]:
s['f':'h']

f   NaN
g   NaN
h   NaN
dtype: float64

In [23]:
s['f'] = 88.5

In [24]:
s

f    88.5
g     NaN
h     NaN
a     1.0
b     2.0
c     3.0
dtype: float64

* boolean marking

In [25]:
s > 5

f     True
g    False
h    False
a    False
b    False
c    False
dtype: bool

In [26]:
s[s > 2]

f    88.5
c     3.0
dtype: float64

In [27]:
# s[s < 2 or s == 3]

In [28]:
s.shape

(6,)

In [29]:
s.ndim

1

In [30]:
s.size

6

In [31]:
s.index

Index(['f', 'g', 'h', 'a', 'b', 'c'], dtype='object')

In [32]:
s.values

array([88.5,  nan,  nan,  1. ,  2. ,  3. ])

In [33]:
'a' in s

True

# delete

In [34]:
s.drop('a')

f    88.5
g     NaN
h     NaN
b     2.0
c     3.0
dtype: float64

In [35]:
s

f    88.5
g     NaN
h     NaN
a     1.0
b     2.0
c     3.0
dtype: float64

In [36]:
s.drop('a', inplace=True)

In [37]:
s

f    88.5
g     NaN
h     NaN
b     2.0
c     3.0
dtype: float64

In [38]:
s + 2

f    90.5
g     NaN
h     NaN
b     4.0
c     5.0
dtype: float64

In [39]:
s - 2

f    86.5
g     NaN
h     NaN
b     0.0
c     1.0
dtype: float64

In [40]:
s * 2

f    177.0
g      NaN
h      NaN
b      4.0
c      6.0
dtype: float64

In [41]:
np.power(s, 2)

f    7832.25
g        NaN
h        NaN
b       4.00
c       9.00
dtype: float64

# DataFrame

It is 2D ds

In [42]:
# pd.DataFrame(data, index, columns, dtype, copy)

CURD

To create

1 list
2 Dict
3 ndarrays
4 series

In [43]:
# empty data frame
df = pd.DataFrame()

In [44]:
df

Empty DataFrame
Columns: []
Index: []

## Create a data frame using list

In [45]:
data = [7, 8, 44, 56, 23, 98]

In [46]:
df = pd.DataFrame(data)

In [47]:
df

    0
0   7
1   8
2  44
3  56
4  23
5  98

In [48]:
data = [["dog", 'bhaw bhaw'], ['cat', 'meow'], ['cow', 'moo']]
df = pd.DataFrame(data)

In [49]:
df

     0          1
0  dog  bhaw bhaw
1  cat       meow
2  cow        moo

In [50]:
df = pd.DataFrame(data, columns=["animal_name", 'animal_sound'])

In [51]:
df

  animal_name animal_sound
0         dog    bhaw bhaw
1         cat         meow
2         cow          moo

## Create a data frame using dictionary

In [52]:
data = {'name': ['ram', 'rahul', 'bhwana'], "age": [25, 20, 18]}
df = pd.DataFrame(data)

In [53]:
df

     name  age
0     ram   25
1   rahul   20
2  bhwana   18

In [54]:
df = pd.DataFrame(data, index=['a', 'b', 'c'])

In [55]:
df

     name  age
a     ram   25
b   rahul   20
c  bhwana   18

## Create a data frame using series

In [56]:
data = {'karan_marks': pd.Series([50, 77, 65], index=['test1', 'test2', 'test3']),
        "arjun_marks": pd.Series([67, 89, 32, 98, 50], index=['test-1', 'ptest-1', 'test-2', 'ptest-2', 'test-3'])}

df = pd.DataFrame(data)

In [57]:
df

         karan_marks  arjun_marks
ptest-1          NaN         89.0
ptest-2          NaN         98.0
test-1           NaN         67.0
test-2           NaN         32.0
test-3           NaN         50.0
test1           50.0          NaN
test2           77.0          NaN
test3           65.0          NaN

5. Create a data frame using list of dictionaries

In [59]:
data = [{"a": 1, "b": 2}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
df = pd.DataFrame(data)

In [60]:
df

     a    b    c    d    e    f
0  1.0  2.0  NaN  NaN  NaN  NaN
1  NaN  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  NaN  5.0  6.0

In [63]:
data = [{"a": 1, "b": 2, "c": 90}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
df = pd.DataFrame(data, index=['x', 'y', 'z'])

In [64]:
df

     a    b     c    d    e    f
x  1.0  2.0  90.0  NaN  NaN  NaN
y  NaN  NaN   3.0  4.0  NaN  NaN
z  NaN  NaN   NaN  NaN  5.0  6.0

### Update

In [72]:
data = [10, 20, 30, 40, 50, 60, 70]
data1 = [100, 200, 300, 400, 500, 600, 700]
df = pd.DataFrame([data, data1], columns=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [73]:
df

     a    b    c    d    e    f    g
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

1. column selection

In [74]:
df['b']

0     20
1    200
Name: b, dtype: int64