# pandas

 * It's a python library that is used while you are working with the datasets
 * It has some function
    1. analyze
    2. Cleaning
    3. Explore
    4. Manipulation


[JamBoard](https://jamboard.google.com/d/1-cxIXQroyDja7lDC5QR8HZvoYffOKAldTP7jQcv4tBM/edit?usp=sharing)

# Why Pandas

* It allows us to analyze big data
* It is used to clean messy datasets and then make it readable and relevant

# importation of Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.0'

## pandas data structure

   1. series
   2. dataframe
   3. panel

## Series
It is a 1D array like DS

In [3]:
# pd.Series(data, index, dtype)

creating an empty series

In [4]:
s = pd.Series()

In [5]:
s

Series([], dtype: object)

create a series using numpy array

In [6]:
data = np.array([12, 45, 32, 89])
s = pd.Series(data)

In [7]:
s

0    12
1    45
2    32
3    89
dtype: int32

In [8]:
s = pd.Series(data, index=[101, 102, 103, 104])

In [9]:
s

101    12
102    45
103    32
104    89
dtype: int32

create a series using dictionary

In [10]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data)

In [11]:
s

a    1
b    2
c    3
dtype: int64

In [12]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data, index=['f', 'g', 'h'])

In [13]:
s

f   NaN
g   NaN
h   NaN
dtype: float64

create a series using the scalar value

In [14]:
data = 99
s = pd.Series(data, index=[101, 102, 103, 104])

In [15]:
s

101    99
102    99
103    99
104    99
dtype: int64

* Updation

1 accesing the data from pandas series

In [16]:
data = np.array([12, 45, 32, 89, 7, -10, 21, -0.5, -7, 30])
s = pd.Series(data)

In [17]:
s

0    12.0
1    45.0
2    32.0
3    89.0
4     7.0
5   -10.0
6    21.0
7    -0.5
8    -7.0
9    30.0
dtype: float64

In [18]:
s[4]

7.0

In [19]:
s[0:3]  # s[:3]

0    12.0
1    45.0
2    32.0
dtype: float64

In [20]:
s[7:]

7    -0.5
8    -7.0
9    30.0
dtype: float64

In [21]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data, index=['f', 'g', 'h', 'a', 'b', 'c'])

In [22]:
s['f':'h']

f   NaN
g   NaN
h   NaN
dtype: float64

In [23]:
s['f'] = 88.5

In [24]:
s

f    88.5
g     NaN
h     NaN
a     1.0
b     2.0
c     3.0
dtype: float64

* boolean marking

In [25]:
s > 5

f     True
g    False
h    False
a    False
b    False
c    False
dtype: bool

In [26]:
s[s > 2]

f    88.5
c     3.0
dtype: float64

In [27]:
# s[s < 2 or s == 3]

In [28]:
s.shape

(6,)

In [29]:
s.ndim

1

In [30]:
s.size

6

In [31]:
s.index

Index(['f', 'g', 'h', 'a', 'b', 'c'], dtype='object')

In [32]:
s.values

array([88.5,  nan,  nan,  1. ,  2. ,  3. ])

In [33]:
'a' in s

True

# delete

In [34]:
s.drop('a')

f    88.5
g     NaN
h     NaN
b     2.0
c     3.0
dtype: float64

In [35]:
s

f    88.5
g     NaN
h     NaN
a     1.0
b     2.0
c     3.0
dtype: float64

In [36]:
s.drop('a', inplace=True)

In [37]:
s

f    88.5
g     NaN
h     NaN
b     2.0
c     3.0
dtype: float64

In [38]:
s + 2

f    90.5
g     NaN
h     NaN
b     4.0
c     5.0
dtype: float64

In [39]:
s - 2

f    86.5
g     NaN
h     NaN
b     0.0
c     1.0
dtype: float64

In [40]:
s * 2

f    177.0
g      NaN
h      NaN
b      4.0
c      6.0
dtype: float64

In [41]:
np.power(s, 2)

f    7832.25
g        NaN
h        NaN
b       4.00
c       9.00
dtype: float64

# DataFrame

It is 2D ds

In [42]:
# pd.DataFrame(data, index, columns, dtype, copy)

CURD

To create

1 list
2 Dict
3 ndarrays
4 series

In [43]:
# empty data frame
df = pd.DataFrame()

In [44]:
df

Empty DataFrame
Columns: []
Index: []

## Create a data frame using list

In [45]:
data = [7, 8, 44, 56, 23, 98]

In [46]:
df = pd.DataFrame(data)

In [47]:
df

    0
0   7
1   8
2  44
3  56
4  23
5  98

In [48]:
data = [["dog", 'bhaw bhaw'], ['cat', 'meow'], ['cow', 'moo']]
df = pd.DataFrame(data)

In [49]:
df

     0          1
0  dog  bhaw bhaw
1  cat       meow
2  cow        moo

In [50]:
df = pd.DataFrame(data, columns=["animal_name", 'animal_sound'])

In [51]:
df

  animal_name animal_sound
0         dog    bhaw bhaw
1         cat         meow
2         cow          moo

## Create a data frame using dictionary

In [52]:
data = {'name': ['ram', 'rahul', 'bhwana'], "age": [25, 20, 18]}
df = pd.DataFrame(data)

In [53]:
df

     name  age
0     ram   25
1   rahul   20
2  bhwana   18

In [54]:
df = pd.DataFrame(data, index=['a', 'b', 'c'])

In [55]:
df

     name  age
a     ram   25
b   rahul   20
c  bhwana   18

## Create a data frame using series

In [56]:
data = {'karan_marks': pd.Series([50, 77, 65], index=['test1', 'test2', 'test3']),
        "arjun_marks": pd.Series([67, 89, 32, 98, 50], index=['test-1', 'ptest-1', 'test-2', 'ptest-2', 'test-3'])}

df = pd.DataFrame(data)

In [57]:
df

         karan_marks  arjun_marks
ptest-1          NaN         89.0
ptest-2          NaN         98.0
test-1           NaN         67.0
test-2           NaN         32.0
test-3           NaN         50.0
test1           50.0          NaN
test2           77.0          NaN
test3           65.0          NaN

5. Create a data frame using list of dictionaries

In [58]:
data = [{"a": 1, "b": 2}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
df = pd.DataFrame(data)

In [59]:
df

     a    b    c    d    e    f
0  1.0  2.0  NaN  NaN  NaN  NaN
1  NaN  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  NaN  5.0  6.0

In [60]:
data = [{"a": 1, "b": 2, "c": 90}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
df = pd.DataFrame(data, index=['x', 'y', 'z'])

In [61]:
df

     a    b     c    d    e    f
x  1.0  2.0  90.0  NaN  NaN  NaN
y  NaN  NaN   3.0  4.0  NaN  NaN
z  NaN  NaN   NaN  NaN  5.0  6.0

### Update

In [62]:
data = [10, 20, 30, 40, 50, 60, 70]
data1 = [100, 200, 300, 400, 500, 600, 700]
df = pd.DataFrame([data, data1], columns=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [63]:
df

     a    b    c    d    e    f    g
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

1. column selection

In [64]:
df['b']

0     20
1    200
Name: b, dtype: int64

2. add a column

In [65]:
df['h'] = [56, 78]

In [66]:
df

     a    b    c    d    e    f    g   h
0   10   20   30   40   50   60   70  56
1  100  200  300  400  500  600  700  78

In [67]:
df['m'] = pd.Series([56, 78, 89])

In [68]:
df

     a    b    c    d    e    f    g   h   m
0   10   20   30   40   50   60   70  56  56
1  100  200  300  400  500  600  700  78  78

In [69]:
df['n'] = pd.Series([56])

In [70]:
df

     a    b    c    d    e    f    g   h   m     n
0   10   20   30   40   50   60   70  56  56  56.0
1  100  200  300  400  500  600  700  78  78   NaN

In [71]:
del df['n']

In [72]:
df

     a    b    c    d    e    f    g   h   m
0   10   20   30   40   50   60   70  56  56
1  100  200  300  400  500  600  700  78  78

In [73]:
# df.pop()

In [74]:
df[['c']]

     c
0   30
1  300

In [75]:
df[['e', 'a', 'f']]

     e    a    f
0   50   10   60
1  500  100  600

In [78]:
data = {'apple': [102, 500, 250, 75], "grapes": [50, 150, 90, 45]}
df = pd.DataFrame(data)

In [79]:
df

   apple  grapes
0    102      50
1    500     150
2    250      90
3     75      45

In [80]:
df[['grapes']]

   grapes
0      50
1     150
2      90
3      45

In [81]:
df['bananas'] = df['grapes'] + 50

In [82]:
df

   apple  grapes  bananas
0    102      50      100
1    500     150      200
2    250      90      140
3     75      45       95

In [84]:
df.drop('bananas', axis=1, inplace=True)

In [85]:
df

   apple  grapes
0    102      50
1    500     150
2    250      90
3     75      45

In [86]:
df['pear'] = df['grapes'] + 100
df['mangos'] = df['grapes'] + 500
df['jackfruit'] = df['grapes'] + 150
df['strawberry'] = df['grapes'] + 200
df['oranges'] = df['grapes'] + 70

In [88]:
df

   apple  grapes  pear  mangos  jackfruit  strawberry  oranges
0    102      50   150     550        200         250      120
1    500     150   250     650        300         350      220
2    250      90   190     590        240         290      160
3     75      45   145     545        195         245      115

## Row selection

In [89]:
# loc & iloc
# loc -> works with rows
df.loc[3]

apple          75
grapes         45
pear          145
mangos        545
jackfruit     195
strawberry    245
oranges       115
Name: 3, dtype: int64

df.loc[[3]]

In [91]:
# iloc -> index name
df.iloc[[3]]

   apple  grapes  pear  mangos  jackfruit  strawberry  oranges
3     75      45   145     545        195         245      115

## Row addition

In [92]:
student_marks = {
    "name": ['rahul', 'rohit', 'venkat', 'sahil', 'ankita'],
    "OS": [25, 75.5, 96, 0, 100],
    "DBMS": [20, 80, 60, 50, 99]
}

df1 = pd.DataFrame(student_marks)

In [93]:
df1

     name     OS  DBMS
0   rahul   25.0    20
1   rohit   75.5    80
2  venkat   96.0    60
3   sahil    0.0    50
4  ankita  100.0    99

In [94]:
data2 = {"name": "robby", "OS": 60.5, "DBMS": 55.5}

In [96]:
df1 = df1._append(data2, ignore_index=True)

In [97]:
df1

     name     OS  DBMS
0   rahul   25.0  20.0
1   rohit   75.5  80.0
2  venkat   96.0  60.0
3   sahil    0.0  50.0
4  ankita  100.0  99.0
5   robby   60.5  55.5

In [101]:
data3 = {"name": "venom", "OS": 80.5, "DBMS": 75}
df3 = pd.DataFrame(data3, index=[0])

In [102]:
df3

    name    OS  DBMS
0  venom  80.5    75

In [104]:
df1 = pd.concat([df1, df3], ignore_index=True)

In [105]:
df1

     name     OS  DBMS
0   rahul   25.0  20.0
1   rohit   75.5  80.0
2  venkat   96.0  60.0
3   sahil    0.0  50.0
4  ankita  100.0  99.0
5   robby   60.5  55.5
6   venom   80.5  75.0

In [106]:
df1.iloc[[0]]

    name    OS  DBMS
0  rahul  25.0  20.0

In [107]:
df1.loc[[4]]

     name     OS  DBMS
4  ankita  100.0  99.0

In [108]:
df1.loc[4] = ['steve', 67, 23]

In [109]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5
6   venom  80.5  75.0

## Row deletion

In [110]:
# del, pop, drop
df1.loc[[6]]

    name    OS  DBMS
6  venom  80.5  75.0

In [112]:
df1.drop(6, inplace=True)

In [113]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5

In [114]:
lis = [1, 2, 3, 4, 5, 6, 7]

# data
   * data cleaning
   * data analysis
   * data manipulation
   * data exploration

In [115]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5