# pandas

 * It's a python library that is used while you are working with the datasets
 * It has some function
    1. analyze
    2. Cleaning
    3. Explore
    4. Manipulation


[JamBoard](https://jamboard.google.com/d/1-cxIXQroyDja7lDC5QR8HZvoYffOKAldTP7jQcv4tBM/edit?usp=sharing)

# Why Pandas

* It allows us to analyze big data
* It is used to clean messy datasets and then make it readable and relevant

# importation of Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.0'

## pandas data structure

   1. series
   2. dataframe
   3. panel

## Series
It is a 1D array like DS

In [3]:
# pd.Series(data, index, dtype)

creating an empty series

In [4]:
s = pd.Series()

In [5]:
s

Series([], dtype: object)

create a series using numpy array

In [6]:
data = np.array([12, 45, 32, 89])
s = pd.Series(data)

In [7]:
s

0    12
1    45
2    32
3    89
dtype: int32

In [8]:
s = pd.Series(data, index=[101, 102, 103, 104])

In [9]:
s

101    12
102    45
103    32
104    89
dtype: int32

create a series using dictionary

In [10]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data)

In [11]:
s

a    1
b    2
c    3
dtype: int64

In [12]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data, index=['f', 'g', 'h'])

In [13]:
s

f   NaN
g   NaN
h   NaN
dtype: float64

create a series using the scalar value

In [14]:
data = 99
s = pd.Series(data, index=[101, 102, 103, 104])

In [15]:
s

101    99
102    99
103    99
104    99
dtype: int64

* Updation

1 accesing the data from pandas series

In [16]:
data = np.array([12, 45, 32, 89, 7, -10, 21, -0.5, -7, 30])
s = pd.Series(data)

In [17]:
s

0    12.0
1    45.0
2    32.0
3    89.0
4     7.0
5   -10.0
6    21.0
7    -0.5
8    -7.0
9    30.0
dtype: float64

In [18]:
s[4]

7.0

In [19]:
s[0:3]  # s[:3]

0    12.0
1    45.0
2    32.0
dtype: float64

In [20]:
s[7:]

7    -0.5
8    -7.0
9    30.0
dtype: float64

In [21]:
data = {"a": 1, "b": 2, "c": 3}
s = pd.Series(data, index=['f', 'g', 'h', 'a', 'b', 'c'])

In [22]:
s['f':'h']

f   NaN
g   NaN
h   NaN
dtype: float64

In [23]:
s['f'] = 88.5

In [24]:
s

f    88.5
g     NaN
h     NaN
a     1.0
b     2.0
c     3.0
dtype: float64

* boolean marking

In [25]:
s > 5

f     True
g    False
h    False
a    False
b    False
c    False
dtype: bool

In [26]:
s[s > 2]

f    88.5
c     3.0
dtype: float64

In [27]:
# s[s < 2 or s == 3]

In [28]:
s.shape

(6,)

In [29]:
s.ndim

1

In [30]:
s.size

6

In [31]:
s.index

Index(['f', 'g', 'h', 'a', 'b', 'c'], dtype='object')

In [32]:
s.values

array([88.5,  nan,  nan,  1. ,  2. ,  3. ])

In [33]:
'a' in s

True

# delete

In [34]:
s.drop('a')

f    88.5
g     NaN
h     NaN
b     2.0
c     3.0
dtype: float64

In [35]:
s

f    88.5
g     NaN
h     NaN
a     1.0
b     2.0
c     3.0
dtype: float64

In [36]:
s.drop('a', inplace=True)

In [37]:
s

f    88.5
g     NaN
h     NaN
b     2.0
c     3.0
dtype: float64

In [38]:
s + 2

f    90.5
g     NaN
h     NaN
b     4.0
c     5.0
dtype: float64

In [39]:
s - 2

f    86.5
g     NaN
h     NaN
b     0.0
c     1.0
dtype: float64

In [40]:
s * 2

f    177.0
g      NaN
h      NaN
b      4.0
c      6.0
dtype: float64

In [41]:
np.power(s, 2)

f    7832.25
g        NaN
h        NaN
b       4.00
c       9.00
dtype: float64

# DataFrame

It is 2D ds

In [42]:
# pd.DataFrame(data, index, columns, dtype, copy)

CURD

To create

1 list
2 Dict
3 ndarrays
4 series

In [43]:
# empty data frame
df = pd.DataFrame()

In [44]:
df

Empty DataFrame
Columns: []
Index: []

## Create a data frame using list

In [45]:
data = [7, 8, 44, 56, 23, 98]

In [46]:
df = pd.DataFrame(data)

In [47]:
df

    0
0   7
1   8
2  44
3  56
4  23
5  98

In [48]:
data = [["dog", 'bhaw bhaw'], ['cat', 'meow'], ['cow', 'moo']]
df = pd.DataFrame(data)

In [49]:
df

     0          1
0  dog  bhaw bhaw
1  cat       meow
2  cow        moo

In [50]:
df = pd.DataFrame(data, columns=["animal_name", 'animal_sound'])

In [51]:
df

  animal_name animal_sound
0         dog    bhaw bhaw
1         cat         meow
2         cow          moo

## Create a data frame using dictionary

In [52]:
data = {'name': ['ram', 'rahul', 'bhwana'], "age": [25, 20, 18]}
df = pd.DataFrame(data)

In [53]:
df

     name  age
0     ram   25
1   rahul   20
2  bhwana   18

In [54]:
df = pd.DataFrame(data, index=['a', 'b', 'c'])

In [55]:
df

     name  age
a     ram   25
b   rahul   20
c  bhwana   18

## Create a data frame using series

In [56]:
data = {'karan_marks': pd.Series([50, 77, 65], index=['test1', 'test2', 'test3']),
        "arjun_marks": pd.Series([67, 89, 32, 98, 50], index=['test-1', 'ptest-1', 'test-2', 'ptest-2', 'test-3'])}

df = pd.DataFrame(data)

In [57]:
df

         karan_marks  arjun_marks
ptest-1          NaN         89.0
ptest-2          NaN         98.0
test-1           NaN         67.0
test-2           NaN         32.0
test-3           NaN         50.0
test1           50.0          NaN
test2           77.0          NaN
test3           65.0          NaN

5. Create a data frame using list of dictionaries

In [58]:
data = [{"a": 1, "b": 2}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
df = pd.DataFrame(data)

In [59]:
df

     a    b    c    d    e    f
0  1.0  2.0  NaN  NaN  NaN  NaN
1  NaN  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  NaN  5.0  6.0

In [60]:
data = [{"a": 1, "b": 2, "c": 90}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
df = pd.DataFrame(data, index=['x', 'y', 'z'])

In [61]:
df

     a    b     c    d    e    f
x  1.0  2.0  90.0  NaN  NaN  NaN
y  NaN  NaN   3.0  4.0  NaN  NaN
z  NaN  NaN   NaN  NaN  5.0  6.0

### Update

In [62]:
data = [10, 20, 30, 40, 50, 60, 70]
data1 = [100, 200, 300, 400, 500, 600, 700]
df = pd.DataFrame([data, data1], columns=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [63]:
df

     a    b    c    d    e    f    g
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

1. column selection

In [64]:
df['b']

0     20
1    200
Name: b, dtype: int64

2. add a column

In [65]:
df['h'] = [56, 78]

In [66]:
df

     a    b    c    d    e    f    g   h
0   10   20   30   40   50   60   70  56
1  100  200  300  400  500  600  700  78

In [67]:
df['m'] = pd.Series([56, 78, 89])

In [68]:
df

     a    b    c    d    e    f    g   h   m
0   10   20   30   40   50   60   70  56  56
1  100  200  300  400  500  600  700  78  78

In [69]:
df['n'] = pd.Series([56])

In [70]:
df

     a    b    c    d    e    f    g   h   m     n
0   10   20   30   40   50   60   70  56  56  56.0
1  100  200  300  400  500  600  700  78  78   NaN

In [71]:
del df['n']

In [72]:
df

     a    b    c    d    e    f    g   h   m
0   10   20   30   40   50   60   70  56  56
1  100  200  300  400  500  600  700  78  78

In [73]:
# df.pop()

In [74]:
df[['c']]

     c
0   30
1  300

In [75]:
df[['e', 'a', 'f']]

     e    a    f
0   50   10   60
1  500  100  600

In [76]:
data = {'apple': [102, 500, 250, 75], "grapes": [50, 150, 90, 45]}
df = pd.DataFrame(data)

In [77]:
df

   apple  grapes
0    102      50
1    500     150
2    250      90
3     75      45

In [78]:
df[['grapes']]

   grapes
0      50
1     150
2      90
3      45

In [79]:
df['bananas'] = df['grapes'] + 50

In [80]:
df

   apple  grapes  bananas
0    102      50      100
1    500     150      200
2    250      90      140
3     75      45       95

In [81]:
df.drop('bananas', axis=1, inplace=True)

In [82]:
df

   apple  grapes
0    102      50
1    500     150
2    250      90
3     75      45

In [83]:
df['pear'] = df['grapes'] + 100
df['mangos'] = df['grapes'] + 500
df['jackfruit'] = df['grapes'] + 150
df['strawberry'] = df['grapes'] + 200
df['oranges'] = df['grapes'] + 70

In [84]:
df

   apple  grapes  pear  mangos  jackfruit  strawberry  oranges
0    102      50   150     550        200         250      120
1    500     150   250     650        300         350      220
2    250      90   190     590        240         290      160
3     75      45   145     545        195         245      115

## Row selection

In [85]:
# loc & iloc
# loc -> works with rows
df.loc[3]

apple          75
grapes         45
pear          145
mangos        545
jackfruit     195
strawberry    245
oranges       115
Name: 3, dtype: int64

df.loc[[3]]

In [86]:
# iloc -> index name
df.iloc[[3]]

   apple  grapes  pear  mangos  jackfruit  strawberry  oranges
3     75      45   145     545        195         245      115

## Row addition

In [87]:
student_marks = {
    "name": ['rahul', 'rohit', 'venkat', 'sahil', 'ankita'],
    "OS": [25, 75.5, 96, 0, 100],
    "DBMS": [20, 80, 60, 50, 99]
}

df1 = pd.DataFrame(student_marks)

In [88]:
df1

     name     OS  DBMS
0   rahul   25.0    20
1   rohit   75.5    80
2  venkat   96.0    60
3   sahil    0.0    50
4  ankita  100.0    99

In [89]:
data2 = {"name": "robby", "OS": 60.5, "DBMS": 55.5}

In [90]:
df1 = df1._append(data2, ignore_index=True)

In [91]:
df1

     name     OS  DBMS
0   rahul   25.0  20.0
1   rohit   75.5  80.0
2  venkat   96.0  60.0
3   sahil    0.0  50.0
4  ankita  100.0  99.0
5   robby   60.5  55.5

In [92]:
data3 = {"name": "venom", "OS": 80.5, "DBMS": 75}
df3 = pd.DataFrame(data3, index=[0])

In [93]:
df3

    name    OS  DBMS
0  venom  80.5    75

In [94]:
df1 = pd.concat([df1, df3], ignore_index=True)

In [95]:
df1

     name     OS  DBMS
0   rahul   25.0  20.0
1   rohit   75.5  80.0
2  venkat   96.0  60.0
3   sahil    0.0  50.0
4  ankita  100.0  99.0
5   robby   60.5  55.5
6   venom   80.5  75.0

In [96]:
df1.iloc[[0]]

    name    OS  DBMS
0  rahul  25.0  20.0

In [97]:
df1.loc[[4]]

     name     OS  DBMS
4  ankita  100.0  99.0

In [98]:
df1.loc[4] = ['steve', 67, 23]

In [99]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5
6   venom  80.5  75.0

## Row deletion

In [100]:
# del, pop, drop
df1.loc[[6]]

    name    OS  DBMS
6  venom  80.5  75.0

In [101]:
df1.drop(6, inplace=True)

In [102]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5

In [103]:
lis = [1, 2, 3, 4, 5, 6, 7]

# data
   * data cleaning
   * data analysis
   * data manipulation
   * data exploration

In [104]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5

# Data exploration

In [105]:
df

   apple  grapes  pear  mangos  jackfruit  strawberry  oranges
0    102      50   150     550        200         250      120
1    500     150   250     650        300         350      220
2    250      90   190     590        240         290      160
3     75      45   145     545        195         245      115

In [106]:
df1

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5

## head()

In [107]:
df1.head()

     name    OS  DBMS
0   rahul  25.0  20.0
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0

## tail()

In [108]:
df1.tail()

     name    OS  DBMS
1   rohit  75.5  80.0
2  venkat  96.0  60.0
3   sahil   0.0  50.0
4   steve  67.0  23.0
5   robby  60.5  55.5

In [109]:
df1.head(2)

    name    OS  DBMS
0  rahul  25.0  20.0
1  rohit  75.5  80.0

## dtypes

In [110]:
df1.dtypes

name     object
OS      float64
DBMS    float64
dtype: object

## empty

In [111]:
df1.empty

False

## ndim

In [112]:
df1.ndim

2

## shape

In [113]:
df1.shape

(6, 3)

In [114]:
df1.size

18

## values

In [115]:
df1.values

array([['rahul', 25.0, 20.0],
       ['rohit', 75.5, 80.0],
       ['venkat', 96.0, 60.0],
       ['sahil', 0.0, 50.0],
       ['steve', 67.0, 23.0],
       ['robby', 60.5, 55.5]], dtype=object)

In [116]:
df1.keys()

Index(['name', 'OS', 'DBMS'], dtype='object')

## describe

In [117]:
df1.describe()

              OS       DBMS
count   6.000000   6.000000
mean   54.000000  48.083333
std    35.198011  22.966098
min     0.000000  20.000000
25%    33.875000  29.750000
50%    63.750000  52.750000
75%    73.375000  58.875000
max    96.000000  80.000000

## T

In [118]:
df1.T

          0      1       2      3      4      5
name  rahul  rohit  venkat  sahil  steve  robby
OS     25.0   75.5    96.0    0.0   67.0   60.5
DBMS   20.0   80.0    60.0   50.0   23.0   55.5

In [119]:
df1.iloc[1]

name    rohit
OS       75.5
DBMS     80.0
Name: 1, dtype: object

In [120]:
df1.sum()

name    rahulrohitvenkatsahilsteverobby
OS                                324.0
DBMS                              288.5
dtype: object

In [121]:
df1['OS'].sum()

324.0

## mean()

In [122]:
df1['OS'].mean()

54.0

# Data cleaning & data manipulation

In [123]:
data1 = np.random.rand(10, 3)
data2 = np.random.rand(7, 3)

In [124]:
df1 = pd.DataFrame(data1, columns=['col1', 'col2', 'col3'])
df2 = pd.DataFrame(data2, columns=['col1', 'col2', 'col3'])

In [125]:
df1

       col1      col2      col3
0  0.156943  0.060754  0.496923
1  0.364094  0.897677  0.548448
2  0.751204  0.377408  0.221639
3  0.594644  0.673176  0.048277
4  0.514413  0.434249  0.655580
5  0.158303  0.056663  0.817290
6  0.153017  0.558103  0.947781
7  0.903737  0.097254  0.262567
8  0.832945  0.248087  0.924421
9  0.879122  0.419689  0.882486

In [126]:
df2

       col1      col2      col3
0  0.567754  0.271735  0.980969
1  0.562790  0.601445  0.284150
2  0.060794  0.721338  0.078932
3  0.647939  0.792193  0.742517
4  0.927209  0.693122  0.347163
5  0.770534  0.561498  0.291115
6  0.604706  0.916077  0.281691

In [127]:
df3 = pd.concat([df1, df2], ignore_index=True)

In [128]:
df3

        col1      col2      col3
0   0.156943  0.060754  0.496923
1   0.364094  0.897677  0.548448
2   0.751204  0.377408  0.221639
3   0.594644  0.673176  0.048277
4   0.514413  0.434249  0.655580
5   0.158303  0.056663  0.817290
6   0.153017  0.558103  0.947781
7   0.903737  0.097254  0.262567
8   0.832945  0.248087  0.924421
9   0.879122  0.419689  0.882486
10  0.567754  0.271735  0.980969
11  0.562790  0.601445  0.284150
12  0.060794  0.721338  0.078932
13  0.647939  0.792193  0.742517
14  0.927209  0.693122  0.347163
15  0.770534  0.561498  0.291115
16  0.604706  0.916077  0.281691

In [129]:
for i in df3.col3:
    print(i)

0.4969229112474213
0.5484482273280088
0.22163886785396492
0.048277436250004246
0.6555802797302248
0.8172904765350287
0.9477813904760193
0.26256742325209514
0.92442134521837
0.8824859491654208
0.9809694799895692
0.2841499824902133
0.07893177006352148
0.7425174273691829
0.34716343222021284
0.2911145814374555
0.28169136898207037

## iteritems

In [130]:
for key, value in df3.iterrows():
    print(key, value)

0 col1    0.156943
col2    0.060754
col3    0.496923
Name: 0, dtype: float64
1 col1    0.364094
col2    0.897677
col3    0.548448
Name: 1, dtype: float64
2 col1    0.751204
col2    0.377408
col3    0.221639
Name: 2, dtype: float64
3 col1    0.594644
col2    0.673176
col3    0.048277
Name: 3, dtype: float64
4 col1    0.514413
col2    0.434249
col3    0.655580
Name: 4, dtype: float64
5 col1    0.158303
col2    0.056663
col3    0.817290
Name: 5, dtype: float64
6 col1    0.153017
col2    0.558103
col3    0.947781
Name: 6, dtype: float64
7 col1    0.903737
col2    0.097254
col3    0.262567
Name: 7, dtype: float64
8 col1    0.832945
col2    0.248087
col3    0.924421
Name: 8, dtype: float64
9 col1    0.879122
col2    0.419689
col3    0.882486
Name: 9, dtype: float64
10 col1    0.567754
col2    0.271735
col3    0.980969
Name: 10, dtype: float64
11 col1    0.562790
col2    0.601445
col3    0.284150
Name: 11, dtype: float64
12 col1    0.060794
col2    0.721338
col3    0.078932
Name: 12, dtype: float64
13 col1    0.647939
col2    0.792193
col3    0.742517
Name: 13, dtype: float64
14 col1    0.927209
col2    0.693122
col3    0.347163
Name: 14, dtype: float64
15 col1    0.770534
col2    0.561498
col3    0.291115
Name: 15, dtype: float64
16 col1    0.604706
col2    0.916077
col3    0.281691
Name: 16, dtype: float64

## Sort()

In [131]:
unsorted_df = pd.DataFrame(np.random.randn(10, 3), index=[5, 7, 3, 9, 2, 1, 9, 11, 21, 4],
                           columns=['col1', 'col2', 'col3'])

In [132]:
unsorted_df

        col1      col2      col3
5   1.513529 -0.661698  1.031521
7  -0.313380  0.071043  0.145626
3   0.544023 -0.294860 -1.750887
9  -2.705374 -1.172163 -1.666474
2  -2.039228  1.169702  0.048711
1   0.601742 -0.494960 -0.014231
9  -0.446702  0.064909  1.148578
11 -0.729196 -0.676458 -1.435305
21  0.574584  0.767751  0.882342
4  -0.264953 -0.097711 -0.862960

In [133]:
unsorted_df.sort_index()

        col1      col2      col3
1   0.601742 -0.494960 -0.014231
2  -2.039228  1.169702  0.048711
3   0.544023 -0.294860 -1.750887
4  -0.264953 -0.097711 -0.862960
5   1.513529 -0.661698  1.031521
7  -0.313380  0.071043  0.145626
9  -2.705374 -1.172163 -1.666474
9  -0.446702  0.064909  1.148578
11 -0.729196 -0.676458 -1.435305
21  0.574584  0.767751  0.882342

In [134]:
unsorted_df.sort_index(ascending=False)

        col1      col2      col3
21  0.574584  0.767751  0.882342
11 -0.729196 -0.676458 -1.435305
9  -2.705374 -1.172163 -1.666474
9  -0.446702  0.064909  1.148578
7  -0.313380  0.071043  0.145626
5   1.513529 -0.661698  1.031521
4  -0.264953 -0.097711 -0.862960
3   0.544023 -0.294860 -1.750887
2  -2.039228  1.169702  0.048711
1   0.601742 -0.494960 -0.014231

In [135]:
unsorted_df.sort_index(axis=1)

        col1      col2      col3
5   1.513529 -0.661698  1.031521
7  -0.313380  0.071043  0.145626
3   0.544023 -0.294860 -1.750887
9  -2.705374 -1.172163 -1.666474
2  -2.039228  1.169702  0.048711
1   0.601742 -0.494960 -0.014231
9  -0.446702  0.064909  1.148578
11 -0.729196 -0.676458 -1.435305
21  0.574584  0.767751  0.882342
4  -0.264953 -0.097711 -0.862960

## sort_values()

In [141]:
df = pd.DataFrame({"apples": [50, 95, 105, 75], "grapes": [110, 45, 99, 0]})

In [142]:
df

   apples  grapes
0      50     110
1      95      45
2     105      99
3      75       0

In [143]:
df.sort_values(by='apples')

   apples  grapes
0      50     110
3      75       0
1      95      45
2     105      99

In [144]:
df.sort_values(by=['apples', 'grapes'])

   apples  grapes
0      50     110
3      75       0
1      95      45
2     105      99

In [145]:
df.sort_values(by=['apples', 'grapes'], kind='mergesort')

   apples  grapes
0      50     110
3      75       0
1      95      45
2     105      99

## stats - advanced

df3

In [147]:
df3.drop([8, 16])

        col1      col2      col3
0   0.156943  0.060754  0.496923
1   0.364094  0.897677  0.548448
2   0.751204  0.377408  0.221639
3   0.594644  0.673176  0.048277
4   0.514413  0.434249  0.655580
5   0.158303  0.056663  0.817290
6   0.153017  0.558103  0.947781
7   0.903737  0.097254  0.262567
9   0.879122  0.419689  0.882486
10  0.567754  0.271735  0.980969
11  0.562790  0.601445  0.284150
12  0.060794  0.721338  0.078932
13  0.647939  0.792193  0.742517
14  0.927209  0.693122  0.347163
15  0.770534  0.561498  0.291115

## covariance -> cov()

In [148]:
df3.col2

0     0.060754
1     0.897677
2     0.377408
3     0.673176
4     0.434249
5     0.056663
6     0.558103
7     0.097254
8     0.248087
9     0.419689
10    0.271735
11    0.601445
12    0.721338
13    0.792193
14    0.693122
15    0.561498
16    0.916077
Name: col2, dtype: float64

In [149]:
df3['col2']

0     0.060754
1     0.897677
2     0.377408
3     0.673176
4     0.434249
5     0.056663
6     0.558103
7     0.097254
8     0.248087
9     0.419689
10    0.271735
11    0.601445
12    0.721338
13    0.792193
14    0.693122
15    0.561498
16    0.916077
Name: col2, dtype: float64

In [150]:
df3['col2'].cov(df3['col3'])

-0.029712315255765905

# correlation

In [151]:
df3['col2'].corr(df3['col3'])

-0.33558369773490293

In [152]:
df3.corr

<bound method DataFrame.corr of         col1      col2      col3
0   0.156943  0.060754  0.496923
1   0.364094  0.897677  0.548448
2   0.751204  0.377408  0.221639
3   0.594644  0.673176  0.048277
4   0.514413  0.434249  0.655580
5   0.158303  0.056663  0.817290
6   0.153017  0.558103  0.947781
7   0.903737  0.097254  0.262567
8   0.832945  0.248087  0.924421
9   0.879122  0.419689  0.882486
10  0.567754  0.271735  0.980969
11  0.562790  0.601445  0.284150
12  0.060794  0.721338  0.078932
13  0.647939  0.792193  0.742517
14  0.927209  0.693122  0.347163
15  0.770534  0.561498  0.291115
16  0.604706  0.916077  0.281691>

# Data cleaning

In [153]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'b', 'd'],
                  columns=['col1', 'col2', 'col3'])

In [154]:
df

       col1      col2      col3
a -1.986733  0.951082 -0.414807
c  0.547647  1.335714 -0.798960
e -1.254732 -0.556936 -1.590442
b -0.083264  0.815322  1.538366
d  2.475315 -0.941380 -0.707212

In [155]:
df = df.reindex(['a', 'b', 'c', 'd', 'e'])

In [156]:
df

       col1      col2      col3
a -1.986733  0.951082 -0.414807
b -0.083264  0.815322  1.538366
c  0.547647  1.335714 -0.798960
d  2.475315 -0.941380 -0.707212
e -1.254732 -0.556936 -1.590442

## isnull()

In [157]:
df.isnull()

    col1   col2   col3
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False
e  False  False  False

## notnulll()

In [158]:
df.notnull()

   col1  col2  col3
a  True  True  True
b  True  True  True
c  True  True  True
d  True  True  True
e  True  True  True

In [159]:
df.isnull().sum()

col1    0
col2    0
col3    0
dtype: int64

In [160]:
df.count()

col1    5
col2    5
col3    5
dtype: int64

# clean missing values

fillna()

In [161]:
df.fillna(0)

       col1      col2      col3
a -1.986733  0.951082 -0.414807
b -0.083264  0.815322  1.538366
c  0.547647  1.335714 -0.798960
d  2.475315 -0.941380 -0.707212
e -1.254732 -0.556936 -1.590442