# pandas
* it's a python library that is used while you are working with the datasets
* It has some function
1. analyse
2. Cleaning
3. explore
4. manupulation

# Why pandas
* It allow us to analyse big datas
* It is used to clean messy datasets and then make it readable and relevant

In [1]:
import pandas as pd
import  numpy as np

In [2]:
pd.__version__

'1.5.3'

# Pandas data structure
1. series
2. dataframe
3. panel

# series

1. It is a 1D array like DS
2. [1,2,3,4,5,6,7,8]

# you can create a series by using varies input data
1. array
2. dict
3. sclar value

* create an empty series

In [7]:
s = pd.Series()
s

C:\Users\Mihir\AppData\Local\Temp\ipykernel_10812\111031985.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

Series([], dtype: float64)

* creating a series using numpy array

In [3]:
array  = np.array([12,45,32,84])
s = pd.Series(array)


s

0    12
1    45
2    32
3    84
dtype: int32

In [4]:
array  = np.array([12,45,32,84])
s = pd.Series(array, index=[101,102,103,104])



s

101    12
102    45
103    32
104    84
dtype: int32

* create using dict

In [5]:
data  =  {"a":10, "b":40, "c":90, "d":95}
s = pd.Series(data)
s

a    10
b    40
c    90
d    95
dtype: int64

In [6]:
data  =  {"a":10, "b":40, "c":90, "d":95}
s = pd.Series(data, index=["f","g","h","i"])
s

f   NaN
g   NaN
h   NaN
i   NaN
dtype: float64

In [3]:
data  =  {"a":10, "b":40, "c":90, "d":95}
s = pd.Series(data, index=["c","d","h","a"])
s

c    90.0
d    95.0
h     NaN
a    10.0
dtype: float64

* create using scalar

In [5]:
data  = 99
s = pd.Series(data, index=[101,102,103,104])
s

101    99
102    99
103    99
104    99
dtype: int64

# updation

In [6]:
array  = np.array([12,45,32,84, 35,-4,-5,-0.5,13])
s = pd.Series(array)


s

0    12.0
1    45.0
2    32.0
3    84.0
4    35.0
5    -4.0
6    -5.0
7    -0.5
8    13.0
dtype: float64

In [7]:
s[4]

35.0

In [10]:
s[0:3]

0    12.0
1    45.0
2    32.0
dtype: float64

In [12]:
data  =  {"a":10, "b":40, "c":90, "d":95}
s = pd.Series(data, index=["c","d","e","b","a"])
s

c    90.0
d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [13]:
s['d':'a']

d    95.0
e     NaN
b    40.0
a    10.0
dtype: float64

In [15]:
s[["c","d"]]

c    90.0
d    95.0
dtype: float64

In [16]:
s['e'] = 85

In [17]:
s

c    90.0
d    95.0
e    85.0
b    40.0
a    10.0
dtype: float64

* boolean maskig

In [18]:
s>50

c     True
d     True
e     True
b    False
a    False
dtype: bool

In [19]:
s[s>50]

c    90.0
d    95.0
e    85.0
dtype: float64

In [20]:
s.ndim

1

In [21]:
s.index

Index(['c', 'd', 'e', 'b', 'a'], dtype='object')

* delete of series

In [22]:
s

c    90.0
d    95.0
e    85.0
b    40.0
a    10.0
dtype: float64

In [23]:
s.drop("a")

c    90.0
d    95.0
e    85.0
b    40.0
dtype: float64

In [24]:
s

c    90.0
d    95.0
e    85.0
b    40.0
a    10.0
dtype: float64

In [25]:
s.drop('a', inplace=True)

In [26]:
s

c    90.0
d    95.0
e    85.0
b    40.0
dtype: float64

In [27]:
s.drop(['c','d'])

e    85.0
b    40.0
dtype: float64

In [28]:
s +2

c    92.0
d    97.0
e    87.0
b    42.0
dtype: float64

In [29]:
s-2

c    88.0
d    93.0
e    83.0
b    38.0
dtype: float64

In [30]:
np.power(s,2)

c    8100.0
d    9025.0
e    7225.0
b    1600.0
dtype: float64

In [31]:
s['e']- 10

75.0