# dataframe

In [1]:
import pandas as pd
import numpy as np
#hi

* Create

1. list
2. dist
3. ndarray
4. Series
5. another dataframe

In [2]:
df  = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
data = [7,8,44,45,23,97]
df  = pd.DataFrame(data)
df

    0
0   7
1   8
2  44
3  45
4  23
5  97

In [5]:
data = [["dog","bhaw bhaw"],["cat","meow"],['cow','moo']]
df = pd.DataFrame(data)

In [6]:
df

     0          1
0  dog  bhaw bhaw
1  cat       meow
2  cow        moo

In [7]:
df = pd.DataFrame(data, columns=["animal name", 'sound'])

In [8]:
df

  animal name      sound
0         dog  bhaw bhaw
1         cat       meow
2         cow        moo

In [10]:
data  = {"name":["mihir", 'ram', 'rahul'], "age": [18,20,25]}
df = pd.DataFrame(data)

In [11]:
df

    name  age
0  mihir   18
1    ram   20
2  rahul   25

In [12]:
df = pd.DataFrame(data, index=['a','b','c'])

In [13]:
df

    name  age
a  mihir   18
b    ram   20
c  rahul   25

In [14]:

df = pd.DataFrame(data, index=['a', 'b', 'c','d'])

ValueError: Length of values (3) does not match length of index (4)

* create a dataframe using series

In [3]:
data = {"Karan_matrks": pd.Series([50,77,65], index=['test1', 'test2', 'test3']), "Arjun_amrks": pd.Series([50,75,20,85,10], index=['test1', 'prec1', 'test2', 'prec2', 'test3'])}
df = pd.DataFrame(data)

In [4]:
df

       Karan_matrks  Arjun_amrks
prec1           NaN           75
prec2           NaN           85
test1          50.0           50
test2          77.0           20
test3          65.0           10

In [5]:
data = [{'a':1,'b':2},{'c':3,'d':4}, {'e':5, 'f':6}]
df = pd.DataFrame(data)

In [6]:
df

     a    b    c    d    e    f
0  1.0  2.0  NaN  NaN  NaN  NaN
1  NaN  NaN  3.0  4.0  NaN  NaN
2  NaN  NaN  NaN  NaN  5.0  6.0

In [7]:
data = [{'a':1,'b':2},{'c':3,'d':4}, {'e':5, 'f':6}]
df = pd.DataFrame(data, index=['x','y','z'])

In [8]:
df

     a    b    c    d    e    f
x  1.0  2.0  NaN  NaN  NaN  NaN
y  NaN  NaN  3.0  4.0  NaN  NaN
z  NaN  NaN  NaN  NaN  5.0  6.0

# update

In [9]:
data= [10,20,30,40,50,60,70]
df = pd.DataFrame(data)

In [10]:
df

    0
0  10
1  20
2  30
3  40
4  50
5  60
6  70

In [13]:
data= [10,20,30,40,50,60,70]
data1 = [100,200,300,400,500,600,700]
df = pd.DataFrame([data,data1], columns=['a','b', 'c','d','e','f','g'])

In [14]:
df

     a    b    c    d    e    f    g
0   10   20   30   40   50   60   70
1  100  200  300  400  500  600  700

* column selection

In [15]:
df['a']

0     10
1    100
Name: a, dtype: int64

In [18]:
df['f']

0     60
1    600
Name: f, dtype: int64

In [20]:
df['f'][0]

60

In [21]:
df['h'] = [56,676]

In [22]:
df

     a    b    c    d    e    f    g    h
0   10   20   30   40   50   60   70   56
1  100  200  300  400  500  600  700  676

In [23]:
df['m'] = [23,56,77]

ValueError: Length of values (3) does not match length of index (2)

In [24]:
df['m'] = pd.Series([23,56,77])

In [25]:
df

     a    b    c    d    e    f    g    h   m
0   10   20   30   40   50   60   70   56  23
1  100  200  300  400  500  600  700  676  56

In [26]:
df['n'] = pd.Series([23])

In [27]:
df

     a    b    c    d    e    f    g    h   m     n
0   10   20   30   40   50   60   70   56  23  23.0
1  100  200  300  400  500  600  700  676  56   NaN

In [28]:
del df['n']

In [29]:
df

     a    b    c    d    e    f    g    h   m
0   10   20   30   40   50   60   70   56  23
1  100  200  300  400  500  600  700  676  56